 .test-header-setion, .test-hero-section {
    position: relative;
    z-index: 20;
 }

 .test-header {
    --test-jost: "jost", sans-serif;
    --test-yellow:  #FFF544;
    --test-gray: #F5F5F5;
    --test-black: #000;
    --test-white: #fff;
    position: relative;
    font-family: var(--test-jost);
    color: var(--test-black);
    background-color: var(--test-white);
 }

 .test-header__bar {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    align-items: center;
    min-height: 65px;
    padding: 12px 8px;
    background-color: var(--test-gray);
 }

 .test-header__toggle { 
    position: relative;
    justify-self: start;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
 }

 .test-header__burger,
 .test-header__close
  { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--test-black);
  }

  .test-header__burger {
    width: 20px;
    height: 12px;
  }

  .test-header__burger svg,
  .test-header__close svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  .test-header__close {
    width: 15px;
    height: 15px;
    opacity: 0;
    pointer-events: none;
  }

